
*/*checkpoint*
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
**/*checkpoint*
*.pyc
models/.DS_Store
m1_test/dust_density.inp
m1_test/dust_temperature.bdat
m1_test/amr_grid.inp
m1_test/dust_density.inp
*.inp
m1_test_rt/mean_intensity.out
m1_test_rt/dust_temperature.dat
.DS_Store
.DS_Store
